name: Deploy Agent to LiveKit Cloud

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy LiveKit Cloud Agent
        uses: livekit/deploy-action@v2.12.1
        env:
          # LiveKit Cloud credentials
          LIVEKIT_URL: ${{ secrets.LIVEKIT_URL }}
          LIVEKIT_API_KEY: ${{ secrets.LIVEKIT_API_KEY }}
          LIVEKIT_API_SECRET: ${{ secrets.LIVEKIT_API_SECRET }}

         

          # Secrets injected into the Python agent
          SECRET_LIST: |
            ELEVEN_API_KEY=${{ secrets.ELEVEN_API_KEY }},voiceId=${{ secrets.voiceId }}

        with:
          OPERATION: deploy
          WORKING_DIRECTORY: .
